.header {
	position: fixed;
	width: 100%;
	background: #a3cd39;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
}
.header .navbar {
	margin: 0;
	border: none;
}
.navbar{
	min-height: 20px;
	padding: 6px 0;
	font-weight: bold;
}

button a{
	color: #fff;
	text-decoration: none;
}

button a:hover{
	color: #fff;
	text-decoration: none;
}

.button-green{
	color: #fff;
	background-color: #99CC33;
	border: 2px solid #99CC33;
	
}

.button-green:hover{
	background-color: transparent;
	color: #99CC33;
}

.button-green a:hover{
	color: #99CC33;
}
#branding{
	margin-top: 10%;
}
#branding p{
	margin: 20px 0;
	color: #2e1210;
	font-size: 5em;
}

.page-section {
	width: 100%;
	min-height: 800px;
	padding: 30px 0;
}
	
.page-section p.lead {
	font-size: 1.8em;
}
.page-section p.caption {
	color: #fff;
}
.page-section#home {
	background-color: #a3cd39;
}
.page-section#about {
	background-color: #f4f4f4;
}
.page-section#gallery {
	background-color: #d1d2d4;
}
.page-section#quote {
	background-color: #45c2c5;
}
.page-section#request-quote {
	background-color: #BA8C73;
}

#footer {
	background-color: #f4f4f4;
}

.inner-container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#about p{
	margin-top: 10px;
}
#about span, #footer h4{
	color: #45C2C5;
	font-size: 1.2em;
	text-align: left;
	font-weight: bold;	
}
.circle{
	background-color: #FFF;
	border-radius: 50%;
	margin: 10px auto;
}

#about .circle{
	height: 200px;
	width: 200px;
	border: 2px solid #eaeaea;
}

#about p{
	text-align: left;
}

#gallery .circle{
	height: 170px;
	width: 170px;
	border: 4px solid #000;
}

#request-quote-button{
	height: 100px;
	padding: 20px;
	border: 2px solid #000;
	width: 70%;
	color: #FFF;
	background-color: #2E1210;
	font-size: 2.5em;
	text-align: center;
	margin: 20% auto;
	border-radius: 20%;
	cursor: pointer;
}
 
@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}

div {
    
}

.order-basic {
	border: 1px solid #000000;
}
